@charset "UTF-8";

:root{
        /*Menu-lateral config*/
  --font-color-h1-h2: rgb(43, 230, 43);
  --menu-lateral:#030202;
  --font-color-p:rgb(43, 230, 43);
  --stars: #ffffff;
        /*main-config*/
  --header:rgb(6, 167, 6);
  --body-color: #b1acac;
  --font-color-main:rgb(30, 104, 30);
  --strong:black;
  --icon-color-main:rgb(3, 3, 3);
}
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color:var(--body-color);
}
a{
  text-decoration: underline;
  color:black;
}
ul{
  list-style: none;
}

/*Cabeçalho*/
.header {
  display:flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding:0.5rem 0;
  font-weight: bold; 
  background-color: var(--header);
  
}
.header ul{
  display:flex;
  font-size: 0.9em;
  gap:0.8rem;
}
.header li{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.header a{
  color:#000000;
}
#icon-header{
  font-size: 1.3em;
}

#icon-menu{
  border:1px solid rgb(0, 0, 0);
  width:33px;
  height:33px;
  border-radius: 50%;
}
/*Cabeçalho*/

/*Menu-lateral*/
.menuLateral{
    display:none ; 
}
.container{ 
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--menu-lateral);
    width: 75%;
    padding:1rem;
}
.perfil{
  display:flex;
  width:151px;
  height:151px;
  background-image: url(imagens/perfil-150px.png);
  border:1px solid greenyellow;
  border-radius: 50%; 
}
.contact{
  text-align: left;
  padding: 1rem 0;
  
}
.contact h2{
  color:var(--font-color-h1-h2);
  font-size: 1.6em;
  font-weight: bold;
  text-align: center;
  padding:0.5rem 0;
}

#icon{
  padding:0.2rem;
  font-size: 1.3em;
  color:var(--icon-color);
  cursor: pointer;
}
.contact ul{
  color:#fff;
  font-size: 1.1em;
  padding:0.5rem;
}
.contact li{
   padding:0.3rem 0; 
}
.contact a{
  color:#fff;
}
.soft-skills{
  padding:1rem;
}
.soft-skills h2{
    text-align: center;
    font-weight: bold;
    font-size: 1.6em;
    color:var(--font-color-h1-h2);
}
.soft-skills p{
  color:var(--font-color-p);
  font-size: 1.1em;
}
.soft-skills p span{
  color:var(--stars);
}
footer{
  padding: 5px;
}
footer p{
  font-size: 1.1em;
  color:var(--font-color-p);
}
footer strong{
  color:var(--strong);
}
/*Menu-lateral*/

/*Conteudo Principal*/
main .main-container{
  display:flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  margin:1rem;
  padding:0.5rem;
  background-color: #ffffff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.267);
}
main .main-container #title{
  font-size: 1.6em;
  font-weight: bolder;
  padding-top: 1rem;
  color:var(--font-color-main);
  
}
main .main-container #subtitle{
  font-size: 1.3em;
  color:var(--font-color-main);
  padding:0.8rem 0;
  border-bottom: 2px solid;
}
main .main-container p{
  font-size: 1em;
  line-height: 1.1em;
  text-indent: 0.5em;
  padding:0.5rem;
}
main .main-container ul#one{
  list-style-type: disc;
  padding:0 1rem;
}
main .main-container ul li{
  padding:0.5rem 0;
}